<div class="card text-dark bg-light mb-3">
    <div class="card-header"> {{ titulo }}</div>
    <div class="card-body">
        <!-- <button class="btn btn-primary my-2" [routerLink]="['/peliculas']" routerLinkActive="router-link-active" >Crear</button>
         <div class="alert alert-info" *ngIf="peliculas?.length == 0">
            No hay peliculas ni series en la base de datos.
        </div>  -->
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>imagen</th>
                    <th>Titulo</th>
                    <th>Fecha creación</th>
                    <th>Calificación</th>
                    <th>eliminar</th>               
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of peliculas">
                    <td>{{ p.id }}</td>
                    <td>
                        <img *ngIf="p.imagenHashCode"
                        [src]="'http://localhost:8095/movies/uploads/img/' + p.id + '?fotoHashCode=' + p.imagenHashCode"
                        class="img-thumbnail" style="width: 100px; cursor: pointer;">
                    </td>
                    <td>{{ p.titulo }}</td>
                    <td>{{ p.fechaCreacion | date: 'MMMM d of y'}}</td>
                    <td>{{ p.calificacion }}</td>
                    <td> 
                        <button (click) = "eliminar(p)" 
                        class="btn btn-danger btn-sm">
                        Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>